/* Resets */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'recoletaregular';
    src: url('fonts/recoleta_regular-webfont.woff2') format('woff2'),
         url('fonts/recoleta_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'recoletamedium';
    src: url('fonts/recoleta_medium-webfont.woff2') format('woff2'),
         url('fonts/recoleta_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Responsive */
.responsive {
  width: 100%;
  height: auto;
}

/* Main */
body {
  font-family: "Avenir";
  color: #111;
}

#header {
  width: 100%;
  background: #333;
  text-align: center;
}

#hero {
  width: 100%;
  background: #FFD3B8;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 14px;
  color: #FFD3B8;
  letter-spacing: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-family: 'recoletamedium';
  font-size: 32px;
}

h3 {
  font-family: 'recoletamedium';
  font-size: 28px;
  line-height: 1.4;
  padding-bottom: 30px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-family: 'recoletaregular';
  font-size: 22px;
}

.rating-stars {
  color: #B87D00;
  font-size: 22px;
  margin-top: 15px;
}

.rating-stats {
  margin-top: 6px;
}

.rating-stats .emphasis {
  font-weight: 700;
}

.btn-large {
  padding: 14px 40px;
  font-size: 18px;
}

.btn-small {
  padding: 10px 20px;
  font-size: 16px;
}

a.btn:link, a.btn:visited {
  background-color: #C2764A;
  border-radius: 30px;
  color: #FFFFFF;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover, a.btn:active {
  background-color: #000000;
}

.btn-small {
  font-size: 16px;
  padding: 10px 20px;
}

.hero-description {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.under-btn {
  margin-top: 45px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.section-main {
  text-align: center;
  line-height: 1.5;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.section-main p {
  font-size: 17px;
}

.section-text-left {
  text-align: left;
  padding-left: 25px
}



.pale-yellow-bg {
  background-color: #faf0e4;
}

.testimonial {
  text-align: center;
  padding: 30px 20px 50px 20px;
}

.testimonial:before {
  content: '\201C';
  font-size: 60px;
  font-family: 'recoletamedium';
  height: 1;
}

.testimonial-content {
  margin-top: -15px;
  font-family: 'recoletamedium';
  font-size: 24px;
  line-height: 1.5;
}

.testimonial-smaller-text {
  font-size: 21px;
}

.testimonial-author {
  color: #333;
  font-size: 14px;
  margin-top: 15px;
}

.testimonial-close {
  margin-top: 25px;
  border-bottom: 1px solid #CCC;
  margin-left: 30%;
  margin-right: 30%;
}

.horizontal-line {
  margin-top: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid #CCC;
  margin-left: 35%;
  margin-right: 35%;
}

.to-scale-studs {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #CCC;
  width: 250px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.down-arrow {
  color: #FFD3B8;
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.circle {
  display: inline-block;
  background: #696969;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.circle-left {
  margin-right: 15px;
}

.circle-right {
  margin-left: 15px;
}

.black {
  color: #111;
}

.brown {
  color: #C2764A;
}

.light-grey {
  color: #696969;
}

#accurate {
  display: none;
}

table {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

table td { 
  display: table-cell;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 7px;
}

table td.td-col-1 {
  font-weight: 700;
  min-width: 120px;
}

.small-popup-button {
  color: #FFFFFF;
  background-color: #c2764aa3;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.below-image-text {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  padding-bottom: 30px;
}

.features {
  margin-top: 50px;
}

.dash {
  color: #C2764A;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  color: #FFFFFF;
  background-color: #303842;
  padding: 50px 20px 30px 20px;
}

#footer-copyright {
  color: #FFFFFF;
  background-color: #12171d;
  padding: 20px;
  font-size: 14px;
}

.footer-section {
  padding-bottom: 30px;
}

.footer-item {
  padding-bottom: 12px;
}

.footer-item a,
.footer-item a:active,
.footer-item a:hover,
.footer-item a:visited {
  color: #FFFFFF;
  text-decoration: none;
}

.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Sticky header */
#sticky-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #FFFFFF;
  opacity: 0.9;
  padding-bottom: 15px;
  border-bottom: 1px solid #a7a7a7;
}

.sticky-header-left-col {
  width: 55%;
  padding-top: 13px;
  padding-left: 20px;
}

.sticky-header-right-col {
  width: 45%;
  padding-top: 20px;
  padding-right: 18px;
  text-align: right;
}

.sticky-header-price {
  font-size: 22px;
}

.full-price {
  color: #a2a2a2;
  text-decoration: line-through;
}

.offer-price {
  color: #C2764A;
  font-weight: 700;
}

.free-shipping {
  font-size: 12px;
}

.sticky-header-content-line-2 {
  margin-top: -5px;
}

a.offer-price-explanation:link,
a.offer-price-explanation:active,
a.offer-price-explanation:hover,
a.offer-price-explanation:visited {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dotted #000;
}
