/* Resets */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face {
    font-family: 'recoletaregular';
    src: url('fonts/recoleta_regular-webfont.woff2') format('woff2'),
         url('fonts/recoleta_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'recoletamedium';
    src: url('fonts/recoleta_medium-webfont.woff2') format('woff2'),
         url('fonts/recoleta_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Responsive */
img {
  width: 100%;
  height: auto;
}

/* Main */
body {
  font-family: "Avenir";
}

#page-header {
  width: 100%;
  background: #333;
  text-align: center;
}

#page-hero {
  width: 100%;
  background: #FFD3B8;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 14px;
  color: #FFD3B8;
  letter-spacing: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-family: 'recoletamedium';
  font-size: 32px;
}

.rating-stars {
  color: #B87D00;
  font-size: 22px;
  margin-top: 15px;
}

.rating-stats {
  margin-top: 6px;
}

.rating-stats .emphasis {
  font-weight: 700;
}

a.btn:link, a.btn:visited {
  background-color: #C2764A;
  border-radius: 30px;
  color: #FFFFFF;
  padding: 14px 40px;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover, a.btn:active {
  background-color: #000000;
}

.hero-description {
  font-size: 20px;
  padding-bottom: 10px;
  line-height: 1.5;
}
.text-under-btn {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.sticky-div {
  position: relative;
  width: 100%;
  padding: 10px 0;
  background: #FFD3B8;
}
