/* Resets */
html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
}

/* Fonts */
@font-face {
  font-family: "recoletamedium";
  src: url("fonts/recoleta_medium-webfont.woff2") format("woff2"),
    url("fonts/recoleta_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Regular.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("fonts/AvenirNextLTPro-Demi.woff2") format("woff2"),
    url("fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Responsive */
.responsive {
  width: 100%;
  height: auto;
  display: block;
}

/* Main */
body {
  font-family: "Avenir Next LT Pro";
  color: #111;
}

#header {
  width: 100%;
  background: #333;
  text-align: center;
}

#hero {
  width: 100%;
  background: #ffd3b8;
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

h1 {
  font-size: 14px;
  color: #ffd3b8;
  letter-spacing: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}

h2 {
  font-family: "recoletamedium";
  font-size: 32px;
}

h3 {
  font-family: "recoletamedium";
  font-size: 28px;
  line-height: 1.4;
  padding-bottom: 30px;
}

h4 {
  font-size: 22px;
}

.rating-stars {
  color: #b87d00;
  font-size: 22px;
  margin-top: 15px;
}

.rating-stats {
  margin-top: 6px;
}

.btn-large {
  padding: 14px 40px;
  font-size: 18px;
}

.btn-small {
  padding: 10px 20px;
  font-size: 16px;
}

a.btn:link,
a.btn:visited {
  background-color: #c2764a;
  border-radius: 30px;
  color: #ffffff;
  letter-spacing: 1px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.btn:hover,
a.btn:active {
  background-color: #000000;
}

.btn-small {
  font-size: 16px;
  padding: 10px 20px;
}

.hero-description {
  font-size: 20px;
  padding-bottom: 20px;
  line-height: 1.5;
}

.under-btn {
  margin-top: 45px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

.section-main {
  text-align: center;
  line-height: 1.5;
  padding-top: 50px;
  padding-right: 20px;
  padding-bottom: 50px;
  padding-left: 20px;
}

.section-main p {
  font-size: 17px;
}

.section-text-left {
  text-align: left;
  padding-left: 25px;
}

.pale-yellow-bg {
  background-color: #faf0e4;
}

.pale-pink-bg {
  background-color: #ffd3b8;
}

.testimonial {
  text-align: center;
  padding: 30px 20px 50px 20px;
}

.testimonial:before {
  content: "\201C";
  font-size: 60px;
  font-family: "recoletamedium";
  height: 1;
}

.testimonial-content {
  margin-top: -15px;
  font-family: "recoletamedium";
  font-size: 24px;
  line-height: 1.5;
}

.testimonial-smaller-text {
  font-size: 21px;
}

.testimonial-author {
  color: #333;
  font-size: 14px;
  margin-top: 15px;
}

.testimonial-close {
  margin-top: 25px;
  border-bottom: 1px solid #ccc;
  margin-left: 30%;
  margin-right: 30%;
}

.horizontal-line {
  margin-top: 45px;
  margin-bottom: 45px;
  border-bottom: 1px solid #ccc;
  margin-left: 35%;
  margin-right: 35%;
}

.to-scale-studs {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  width: 250px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.down-arrow {
  color: #ffd3b8;
  font-size: 40px;
}

.text-center {
  text-align: center;
}

.circle {
  display: inline-block;
  background: #696969;
  border-radius: 50%;
  width: 18px;
  height: 18px;
}

.circle-left {
  margin-right: 15px;
}

.circle-right {
  margin-left: 15px;
}

.black {
  color: #111;
}

.brown {
  color: #c2764a;
}

.light-grey {
  color: #696969;
}

#accurate {
  display: none;
}

table {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}

table td {
  display: table-cell;
  vertical-align: top;
  padding-top: 7px;
  padding-bottom: 7px;
}

table td.td-col-1 {
  font-weight: 700;
  min-width: 120px;
}

.small-popup-button {
  color: #9e9e9e;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
  cursor: pointer;
}

.below-image-text {
  font-size: 14px;
  color: #333;
  margin-top: 8px;
  padding-bottom: 30px;
}

.feature-number {
  font-size: 18px;
  font-family: "recoletaregular";
}

.features {
  margin-top: 50px;
  padding-bottom: 20px;
}

.dash {
  color: #c2764a;
  padding-top: 10px;
  padding-bottom: 10px;
}

#footer {
  color: #ffffff;
  background-color: #303842;
  padding: 50px 20px 30px 20px;
}

#footer-copyright {
  color: #ffffff;
  background-color: #12171d;
  padding: 20px;
  font-size: 14px;
}

.footer-section {
  padding-bottom: 30px;
}

.footer-item {
  padding-bottom: 12px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.footer-item a,
.footer-item a:active,
.footer-item a:hover,
.footer-item a:visited {
  color: #ffffff;
  text-decoration: none;
}

.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

/* Sticky header */
#sticky-header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #faf0e4;
  opacity: 0.97;
  padding-bottom: 15px;
  border-bottom: 1px solid #a7a7a7;
}

.sticky-header-left-col {
  width: 55%;
  padding-top: 13px;
  padding-left: 20px;
}

.sticky-header-right-col {
  width: 45%;
  padding-top: 20px;
  padding-right: 18px;
  text-align: right;
}

.sticky-header-price {
  font-size: 22px;
}

.full-price {
  color: #a2a2a2;
  text-decoration: line-through;
}

.offer-price {
  color: #c2764a;
  font-weight: 700;
}

.free-shipping {
  font-size: 12px;
}

.offer-price-explanation {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  border-bottom: 1px dotted #c2764a;
  cursor: pointer;
}

.header--fixed {
  visibility: visible;
  position: fixed;
  animation: fadeIn 0.3s ease-in-out;
}

.header--fadeout {
  visibility: hidden;
  animation: fadeOut 0.3s ease-in-out;
  position: fixed;
  transition: visibility 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    margin-top: -30px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    margin-top: 0;
  }

  to {
    opacity: 0;
    margin-top: -30px;
  }
}

/* Modals / Light Boxes */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in;
}

.modal.is-visible {
  visibility: visible;
  opacity: 1;
}

.modal-dialog {
  position: relative;
  max-width: 800px;
  max-height: 80vh;
  border-radius: 5px;
  background: #faf0e4;
  overflow: auto;
  cursor: default;
}

.modal-dialog > * {
  padding: 1rem;
}

.modal-header {
  background: #e3d0ba;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
}

.close-modal {
  position: fixed;
  top: 1rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  font-size: 26px;
  color: #000;
  border-radius: 25px;
  line-height: 0;
  background: #faf0e4;
  cursor: pointer;
  padding: 0 !important; /* Disable peculiar browser button styling */
}

.modal p + p {
  margin-top: 1rem;
}

.modal-back-button {
  cursor: pointer;
  background: #c2764a;
  color: #fff;
  text-align: center;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 10px;
}

img.img-top-right {
  float: right;
  width: 70px;
  margin-left: 15px;
  margin-bottom: 20px;
  border: 4px solid #fff;
}

/* .modal-dialog::-webkit-scrollbar {
  -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-overflow-scrolling: auto !important;
}

.modal-dialog::-webkit-scrollbar:vertical {
  width: 7px;
}

.modal-dialog::-webkit-scrollbar:horizontal {
  height: 7px;
}

.modal-dialog::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 2px solid #faf0e4;
}

.modal-dialog::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #2222220e;
} */

#email-form{
  background-color:#eeeeee;
}

.container{
  max-width: 1180px;
  margin: auto;
  padding: 50px 0;
}

#email-form .steps{
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 620px;
  margin:auto;
}

.steps h2.step-title{
  font-size: 24px;
  color:#444;
  cursor: pointer;
}
.steps .arrow-right{
  font-size: 30px;
  font-weight: 900;
}
.steps h2.step-active{
  color: #000;
  border-bottom: 2.5px solid #000;
  
}

#newletter-form-container{
  background-color: #eeeeee;
}

#newletter-form-container .container{
  display: flex;
  padding-top: 0;
}

.newsletter-form{
  padding: 60px;
  font-family: inherit !important;
    max-width: initial !important;
}

.newsletter-form h3{
  font-size: 50px;
  padding-bottom: 0;
  line-height: 1.2;
}

.newsletter-form .user-email-input{
  width: 100%;
  border-color: transparent;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
}

.proceed-to-checkout-btn{
  background: #ffd3b8;
  border: 1px solid transparent;
  outline: none;
  padding: 1rem;
  border-radius:25px;
  color: #333;
  transition: all 0.5s ease-in-out;
}

.proceed-to-checkout-btn:hover{
  background-color: rgb(243, 199, 172);
  color: #000;
  cursor: pointer;
}

.call-to-action-text{
  color:#ffd3b8;
}

.newsletter-form p {
  font-size: 18px;
}
.newsletter-image{
  overflow: hidden;
  border-radius: 50%;
  width: 499px;
  height: 509px;
  box-shadow: -1px 5px 12px 0px rgba(0,0,0,0.05);
}

.newsletter-image img{
  height: 100%;
  width: 100%;
}
#k_id_email{
  transition: box-shadow 0.5s ease-in-out;
}

#k_id_email:focus{
  box-shadow: 0px 0px 10px rgb(154, 166, 255)
}

@media (max-width:625px){

  .container{
    padding: 30px 0;
  }
  #email-form .steps h2{
    font-size: 18px;
  }
  #newletter-form-container .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .newsletter-image{
    width: 250px;
    height:auto;
  }

  .newsletter-form{
    padding: 20px 60px;
    text-align: center;
  }
}